pymupdf
pymupdf4llm
chromadb==1.5.9
langchain-core
langchain-text-splitters
langchain-classic

langchain-huggingface
sentence-transformers
langchain-chroma

rank_bm25
nltk
numpy

langchain-groq
python-dotenv
streamlit
